@page
@model Mission10_Thurman.Pages.Teams.IndexModel

<section class="py-3">
    <div class="container">
        <h1>Teams</h1>

        @if (Model.Teams?.Count == 0)
        {
            <p>No teams found.</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Team ID</th>
                        <th>Team Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in Model.Teams)
                    {
                        <tr>
                            <td>@team.TeamID</td>
                            <td>@team.TeamName</td>
                            <td>
                                <a asp-page="/Teams/Details" asp-route-id="@team.TeamID" class="btn btn-sm btn-primary">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</section>